html, body, * {
	margin: 0;
	padding: 0;
}

html, body, #screen {
    overflow: hidden
}

#screen {
	position: absolute;
	left: 0;
	top: 0;
}

body {
    font-size: 12px;
    line-height: 1.5;
    font-family: Arial, serif;
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: skew(90deg);
    }
    10% {
        -webkit-transform: skew(-90deg);
    }
    25%, 35%, 45%, 55%, 65%, 75%, 85%, 99% {
        -webkit-transform: skew(-88deg);
    }
    30%, 40%, 50%, 60%, 80%, 90% {
        -webkit-transform: skew(-92deg);
    }
    100% {
        -webkit-transform: skew(0deg);
    }
}

#box {
    width: 400px;
    height: 300px;
    padding: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    -webkit-animation: 1s fadeIn;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 7em;
    
}

h2 {
    font-size: 3em;
}
h1:hover{
    background-color: rgb(147, 147, 252,0.5);
    cursor: pointer;
    }

    h2:hover{
        color: rgba(0, 0, 0, 0.3);
        }

